MAILGUN_BASE_URL=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
VITE_APPWRITE_DB_ID=
MAILGUN_FROM_EMAIL=
APPWRITE_API_KEY=
APPWRITE_DB_ID=
APPWRITE_PROJECT_ID=
APPWRITE_ENDPOINT=https://<REGION>.cloud.appwrite.io/v1
VITE_APPWRITE_ENDPOINT=https://<REGION>.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
GROWTH_ENDPOINT=
